/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;} */


/* .mySlides {display: none;}
img {vertical-align: middle;} */


/* Slideshow container */


/* .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
} */


/* Caption text */


/* .text {
  color: cyan;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  bottom: 14px;
  width: 100%;
  text-align: center;
} */


/* Number text (1/3 etc) */


/* .numbertext {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */


/* The dots/bullets/indicators */


/* .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */


/* .active {
  background-color: #717171;
} */


/* Fading animation */


/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
} */


/* @-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */


/* On smaller screens, decrease text size */


/* @media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} */


/*=======================================*/

body {
    padding-top: 65px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-image: url('bg1.jpg'); */
    /* background-color: #ffffff; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: 100% 100%; */
}

.map {
    height: 720px;
    width: 81%;
    margin-left: 15px;
}
.table-key {
  font-size: 11px;
  max-width: 5%;
}

.table-value {
  font-size: 13px;
}

.dropdown-search {
  margin: 20px;
}

.dropdown-menu-search {
  max-height: 20rem;
  overflow-y: auto;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#mapLegend {
  background: #fdfdfd;
  color: #3c4750;
  padding: 0 0 5px 0;
  margin: 5px;
  font-weight: regular;
  filter: alpha(opacity=80);
  opacity: 0.5;
  border: 1px solid #000;
}

#mapLegend div {
  height: 25px;
  line-height: 16px;
  font-size: 13px;
}

#mapLegend div img {
  align-content: center;
  margin-left: 5px;
}

#mapLegend h6 {
  align-content: center;
  text-align: center;
  margin:0 0 5px 0;
}
/*line chart*/
.DepDelayTime {
    stroke: steelblue;
    stroke-width: 2px;
}

.ArrDelayTime {
    stroke: crimson;
    stroke-width: 2px;
}

.dashedtick {
    stroke-dasharray: 1, 3;
}

.linenode {
    /*stroke-width: 1px;*/
    /*stroke: black;*/
    fill: black;
}

/*bar chart*/
.bar1{
    fill: LightGray;
    /*stroke: white;*/
    /*stroke-width: 1px;*/
}
.bar2{
    fill: FireBrick;
    /*stroke: white;*/
    /*stroke-width: 1px;*/
}

/*--More stuff--*/


/*force layout*/
.forcelink {
  stroke: #999;
  stroke-opacity: 0.6;
}
.forcenode {
   stroke: #fff;
   stroke-width: 1.5px;
}
.forcenode:hover {
  stroke: #000;
}

.forcelinkclicked {
  stroke: #9b1717;
  stroke-opacity: 0.6;
  stroke-width: 0.5px;
}

#force .label {
  font-size: 0.7rem;
}

#force .legendTitle {
  font-size: 0.8rem;
}

/*hierarchy layout*/
.node {
  font-family: sans-serif;
  font-size: 0.4rem;
  font-weight: lighter;
  fill: #ccc;
}

.node:hover {
  fill: #000;
  font-weight: bold;
}

.node--source,
.node--target,
.node--both {
  font-weight: bold;
}

.node--both {
  fill: #dc6c6f;
}

.node--target {
  fill: #68a064
}

.node--source {
  fill: #ffb51d;
}

.link {
  stroke-width: 0.01rem;
  stroke: steelblue;
  stroke-opacity: 0.5;
  fill: none;
  pointer-events: none;
}

.link--both,
.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 0.05rem;
}

.link--both {
  stroke: #dc6c6f;
}

.link--target {
  stroke: #68a064;
}

.link--source {
  stroke: #ffb51d
}

#hierarchy .label {
  font-size: 0.7rem;
}

/*tooltip*/
.force-tip {
   /*line-height: 1;*/
   /*font-weight: bold;*/
   font-size: 0.5rem;
   padding: 6px;
   background: rgba(0, 0, 0, 0.8);
   color: #fff;
   border-radius: 2px;
}

.force-tip:after {
  box-sizing: border-box;
  display: inline;
  padding: 4px;
  font-size: 0.5rem;
  /* width: 100%; */
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.hierarchy-tip {
  line-height: 1;
  /*font-weight: bold;*/
  font-size: 0.5rem;
  padding: 6px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 2px;
}

.hierarchy-tip:after {
  box-sizing: border-box;
  display: inline;
  padding: 4px;
  font-size: 0.5rem;
  /* width: 100%; */
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.pie-tip {
  line-height: 1;
  /*font-weight: bold;*/
  font-size: 0.6rem;
  padding: 6px;
  background: #DDD;
  color: #222;
  border-radius: 2px;
}

.tooltipindex {
  color: #d4d4d4;
  font-weight: bold;
}

.chart-tip {
  /*line-height: 1;*/
  /*font-weight: bold;*/
  font-size: 1rem;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}


/* .navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */


/* @media screen and (min-width: 768px) {

  .dropdown:hover .dropdown-menu,
  .btn-group:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    margin-top: 0;
  }

  .dropdown-toggle {
    margin-bottom: 2px;
  }

  .navbar .dropdown-toggle,
  .nav-tabs .dropdown-toggle {
    margin-bottom: 0;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navigationbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} */


/* searchbox */


/* .search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(217, 150, 243);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(217, 150, 243);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(217, 150, 243);
  background: rgb(217, 150, 243);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 30px;
} */


/*Resize the wrap to see the search bar change!*/


/*.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */