<!DOCTYPE html>
<html>

<head>
  <title>APM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/styles.css">
  <script type="text/javascript">
    $(function () {
      $("#navigation").load("navigation.html");
    });
  </script>
  <style>
  </style>
</head>

<body style="background-image: url(static/images/PlaneAboutPage.jpg)">
  <div id="navigation"></div>
  <div class="container-fluid" style="font-size: 15px; margin-left:20px; width:570px">
    <div class="text-center" style="padding-top: 20px;">
      <h2>About This Project</h2>
    </div>
    <br>
    <h3>Introduction</h3>
    <br>
    <p>Aviation Performance Metrics is a wise choice for passengers, airport authorities and airline companies to
      evaluate the airlines, airports and the aviation industry with common benchmarks. It is
      brought to you with &#10084;&#65039; by</p>
      <br>
    <div class="row" style="padding: 5px">
      <div style="margin-right: 10px;">
        <img src="/static/images/QL.png" width="140" height="200" alt="Qilun Lyu">
      </div>
      <div style="margin-right: 10px;">
        <img src="/static/images/TD.png" width="180" height="200" alt="Tathagata Dutta">
      </div>
      <div style="margin-right: 10px;">
        <img src="/static/images/KP.jpg" width="180" height="200" alt="Kaushal Patel">
      </div>
    </div>
    <div class="row">
      <div style="margin-right: 10px;">
        <h5 style="padding-left:1.5em;"><b>Qilun Lyu </b></h5>
      </div>
      <div style="margin-right: 15px;">
        <h5 style="padding-left:2em;"><b>Tathagata Dutta</b></h5>
      </div>
      <div>
        <h5 style="padding-left:2em;"><b>Kaushal Patel</b></h5>
      </div>
    </div>
    <div class="row" style="font-size: 13px;">
      <div style="margin-right:13px;">
        <a href="mailto:charlielv2017@gmail.com">charlielv2017@gmail.com</a>
      </div>
      <div style="margin-left: 15px; margin-right:40px;">
        <a href="mailto:tathagata.dk@gmail.com">tathagata.dk@gmail.com</a>
      </div>
      <div style="margin-left: 10px;">
        <a href="mailto:kau353655@gmail.com">kau353655@gmail.com</a>
      </div>
    </div>

    <br>
    <br>
    <h3>Acknowledgment</h3>
    <br>
    <p>We would like to express our sincere gratitude to Dr. James Abello, our advisor and the professor of 2020 Spring CS526 DIVA
      class, as well as the TAs Nishant Kumar and Fangda Han
      for their exceptional guidance and continuous encouragement. Without their brilliant suggestions at every stage,
      this project would not have been possible to present in front of you. Also, we would like to thank with the best
      regards to Enkai Ji for his advice and support in the front-end UI elements of this project.
    </p>
    <br>
    <h3>References & Useful Links</h3>
    <ul style="list-style-type:square; font-size: 14px;">
      <li>https://www.transtats.bts.gov/ONTIME/</li>
      <li>https://flask.palletsprojects.com/en/1.1.x/</li>
      <li>https://spark.apache.org/docs/latest/api/python/index.html</li>
      <li>https://developers.google.com/maps/documentation/javascript/tutorial</li>
      <li>https://api.jquery.com/</li>
      <li>https://getbootstrap.com/</li>
      <li>https://www.amcharts.com/demos/chord-diagram/</li>
      <li>https://d3js.org/</li>
      <li>https://dc-js.github.io/dc.js/</li>
      <li>https://square.github.io/crossfilter/</li>
      <li>http://dimplejs.org/</li>
    </ul>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
</body>

</html>